h1 Ingresar producto
form(action='/productos' method='POST')
  | Titulo: 
  input(type='text' name='title')
  br
  | Price: 
  input(type='text' name='price')
  br
  | Thumbnail: 
  input(type='text' name='thumbnail')
  br
  button Ingresar
form(action='/productos' method='GET')
  button Ver lista productos

